* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0 2%;
}

/* Bootstrap Container */
.container {
  margin: 0;
}

/* Top LOGO */
.logo {
  width: 20%;
  margin: 0;
}
.logo-section {
  width: 60%;
}

.navbar-color {
  color: #fff;
}

/* Curousel */
.carousel-title {
  color: #b6464b;
}

.corousel-description {
  color: #b6464b;
}

/* Features section  */

.features {
  text-align: center;
}

/* 
.features-section {
  display: flex;
  flex-direction: row;
  margin: 5%;
}

.feature {
  margin: 3%;
  text-align: center;
}

.delivery-icon {
  width: 70%;
}

.features-logo {
  max-width: 25%;
}

.feature-title {
  font-size: 1rem;
} */

/* Banner-section */
.card {
  text-align: center;
  margin: 2%;
}

.image-banner {
  display: flex;
  justify-content: space-between;
}

.banner-img {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

/* Gallery Section  */

.gallery-section {
  text-align: center;
}

.img {
  height: 200px;
  width: 200px;
  border-radius: 15px;
}

.image-out-content {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0;
  /* width: 50%; */
  text-align: center;
}

.img-one {
}

/* Image In Section  */
.image-in-content {
  display: grid;
  grid-template-areas:
    "img-two img-three"
    "img-four img-five";
}

.img-two {
  grid-area: img-two;
}

.img-three {
  grid-area: img-three;
}

.img-four {
  grid-area: img-four;
}
.img-five {
  grid-area: img-five;
}

/* Link Section  */
.link-section {
  text-align: center;
  margin: 10%;
  display: flex;
}

.text-section {
  width: -moz-available;
}

.cup-img {
  width: 50%;
  /* height: 50%; */
}

/* Companies Section  */

.companies {
  text-align: center;
}

.company-images {
  display: flex;
}

.company-img {
  height: 200px;
  width: 200px;
  margin: 5%;
  border-radius: 50%;
}

.cta {
  background-color: rebeccapurple;
  color: #fff;
  display: flex;
  margin: 5%;
}
